<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AI Hub API</title>
    <style>
      .banner {
          background-color: green;
          color: white;
          text-align: center;
          padding: 20px;
      }
  </style>
</head>
<body>
    <h1>AI Hub</h1>
    <h2>Welcome!</h2>
    <div class="banner">
      <h1>The API is up and running</h1>
    </div>
    <ul>
      <li><a href='/test'>Test the API</a></li>
    </ul>
    <hr>
    <footer style="text-align: right">Powered by EveriAI v{{ app_version }}</footer>
</body>
</html>

